*{
    margin: 0;
    padding: 0;
}
body{
    background: url("1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
#container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: black;
    border-radius: 10px;
    
}
input{
    padding: 5px 10px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
button{
    padding: 5px 10px;
    background-color: rgb(253, 49, 209);
    color: white;
    border: 1px solid rgb(253, 49, 209);
    border-radius: 5px;
    cursor: pointer;
}
#button2{
    background-color: rgb(53, 165, 53);
    border: 1px solid rgb(53, 165, 53);
}
#button2:hover{
    background-color: rgb(37, 129, 37);;
}
button:hover{
    background-color: rgb(182, 39, 151);
}
#result{
    font-size: 30px;
}
.developer{
    color: gray;
    background-color: rgb(59, 59, 59);
}
a{
    color: gray;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
}
